*{
    margin: 0;
    padding: 0;
}
main{
    height: 80vh;
    background-repeat: no-repeat;
    width: 100vw;
}

main .box{
    
        width: 100%;
        background-color: black;
        opacity: 0.3;
}
main .box1{
    width: 100%;
        background-color: black;
        opacity: 1;
}
.box img{
    height: 80vh;
    width: 100vw;
}
.box2{
    display: flex;
    margin-top:-770px ;
    color: white;
    margin-left: 480px;
}
.box2 h1{
    font-size: 75px;
}
.box2 h2{
    font-size: 72px;
}
.box2 h3{
    font-size: 69px;
}
.box3{
    display: flex;
    margin-top: -770px;
    color: white;
    margin-left: 880px;
}
.box3 h1{
    font-size: 75px;
}
.box3 h2{
    font-size: 73px;
}
.box3 h3{
    font-size: 71px;
}
.box5{
    color:white;
    display: flex;
    margin-top: -79px;
    margin-left: 1130px;
}
.box5 h1{
    font-size: 75px;
}
.box5 h2{
    font-size: 72px;
}
.box5 h3{
    font-size: 69px;
}
.box6{
    margin-top: -80px;
    margin-left: 370px;
}
.box6 img{
height: 75px;
border-radius: 5px;
}
.container1{
    position: relative;
   
}

.container1 h1{
    color: white;
    margin-left: 800px;
    margin-top: 100px;
    position: relative;
}
.other1 input{
    margin-left: 840px;
    margin-top: 30px;
    height: 30px;
    width: 270px;
    background-color: #232c1e;
    opacity: 0.7;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 23px;
    color: white;

}
.other2 input{
    margin-left: 840px;
    margin-top: 30px;
    height: 30px;
    width: 270px;
    background-color: #232c1e;
    opacity: 0.7;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 23px;
    color: white;

}
.other3 select{
    height: 30px;
    width: 270px;
    margin-left: 840px;
margin-top: 30px;
    background-color: #232c1e;
    opacity: 0.7;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 23px;
    color: white;

}
.other3 button{
    margin-left: 840px;
    margin-top: 20px;
    height: 30px;
    width: 150px;
    background-color: #232c1e;
    opacity: 0.7;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 23px;
    color: white;
}
.other4 input{
    margin-left: 840px;
    margin-top: 70px;
    height: 100px;
    width: 270px;
    background-color: #232c1e;
    opacity: 0.7;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 23px;
    color: white;
}
.other5 select{
    height: 32px;
    width: 200px;
    margin-left: 830px;
    margin-top:5px;
    font-size: 20px;
  
}
.other5 h2{
    font-size: 30px;
    margin-left: 830px;
    margin-top: 10px;
    color: rgb(218, 195, 195);
}
.other5 button{
    color:black;
    margin-left: 20px;
    height: 35px;
    width: 150px;
    font-family: sans-serif;
    font-weight: 400;
    background-color: rgb(189, 7, 7);
    font-size: 25px;

}
.sep{
    height: 10px;
    margin-top: 50px;
   background-color: rgb(209, 14, 14);
}
.container2{
    height: 300px;
    width: 100%;
    position: relative;
    background-color: rgb(24, 22, 22);
}
.container2 h2{
   color: white;
   font-size: 30px;
   position: absolute;
   margin-left: 790px;
   margin-top: 30px;
}
.box7{
   
    position: absolute;
    margin-top: 200px;
    margin-left: 370px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px;
}
.box6 input{
    height: 40px;
    padding-left: 20px;
    width: 300px;
    font-size: 20px;
    border-radius: 14px;
}
